.playwrite-hr-lijeva-h1 {
  font-family: "Playwrite HR Lijeva", cursive;
  font-optical-sizing: auto;
  font-weight: 20px;
  font-style: normal;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}