body{
    background-image: url(../assets/background.jpg);
    background-size: 50%, 25%, 25%;
}
h1 {
  font-size: 24px;
  color: rgb(212, 212, 212);
  background-color: rgba(137, 43, 226, 0.5);
  text-align: center;
  border: 2px solid blue;
  padding: 10px;
  margin: 50px;
}
p {
  font-size: 18px;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.5);
  text-align: justify;
  padding: 10px;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}
thead {
    text-align: center;
    width: 400px;
    background-color: rgb(169, 125, 210);
}
tbody {
    background-color: rgb(169, 160, 177);
}